body {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: normal;
  scroll-behavior: smooth;
  overflow: auto;
}
html {
  overflow: visible;
}
body,
html {
  height: 100%;
}

a,
a:visited {
  transition: 0.3s;
  text-decoration: none;
}

.gilroy {
  font-family: "Gilroy";
}

.btn {
  &:extend(.gilroy);
  padding: 16px 44px;
}
