body {
  font-family: "roboto";
  font-size: 16px;
  font-weight: normal;
  color: @c-black;
  background-color: @c-grey3;
  scroll-behavior: smooth;
  overflow: auto;
  @media (max-width: @max_md) {
    font-size: 14px;
  }
}
html {
  overflow: visible;
}
body,
html {
  height: 100%;
}
.bold {
  font-weight: bold !important;
}
.page-title {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

a,
a:visited {
  color: @c-black;
  transition: 0.3s;
  text-decoration: none;
}
