/*==============================================================
*												COLORS
=============================================================== */
@c-black: #393939;
@c-lightgray: #f8f8f8;
@c-red: #d2242c;
@c-grey: #cdcdcd;
@c-gain: #bdbdbd;
@c-grey2: #828282;
@c-grey3: #f0f0f0;
@c-gold: #f2c94c;
@c-grey4: #7e7e7e;

@c-purple: #9b51e0;
@c-green: #47b85c;

/*==============================================================
*											        	FONTS
=============================================================== */
.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-19 {
  font-size: 19px;
  @media (max-width: @max_flg) {
    font-size: 18px;
  }
  @media (max-width: @max_xxl) {
    font-size: 17px;
  }
  @media (max-width: @max_xl) {
    font-size: 16px;
  }
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.fs-24 {
  font-size: 24px;
  @media (max-width: @max_flg) {
    font-size: 22px;
  }
  @media (max-width: @max_xxl) {
    font-size: 20px;
  }
}

.fs-26 {
  font-size: 26px;
  @media (max-width: @max_md) {
    font-size: 24px;
  }
  @media (max-width: @max_sm) {
    font-size: 22px;
  }
  @media (max-width: @max_xs) {
    font-size: 20px;
  }
}

.fs-28 {
  font-size: 28px;
  @media (max-width: @max_flg) {
    font-size: 26px;
  }
  @media (max-width: @max_xxl) {
    font-size: 24px;
  }
  @media (max-width: @max_xl) {
    font-size: 22px;
  }
  @media (max-width: @max_md) {
    font-size: 20px;
  }
}

.fs-30 {
  font-size: 30px;
  @media (max-width: @max_flg) {
    font-size: 26px;
  }
  @media (max-width: @max_xxl) {
    font-size: 24px;
  }
  @media (max-width: @max_xl) {
    font-size: 22px;
  }
  @media (max-width: @max_md) {
    font-size: 20px;
  }
}

.fs-32 {
  font-size: 32px;
  @media (max-width: @max_md) {
    font-size: 28px;
  }
  @media (max-width: @max_sm) {
    font-size: 24px;
  }
  @media (max-width: @max_xs) {
    font-size: 22px;
  }
}

.fs-34 {
  font-size: 34px;
  @media (max-width: @max_md) {
    font-size: 32px;
  }
  @media (max-width: @max_sm) {
    font-size: 30px;
  }
  @media (max-width: @max_xs) {
    font-size: 26px;
  }
}

.fs-36 {
  font-size: 36px;
  @media (max-width: @max_md) {
    font-size: 30px;
  }
  @media (max-width: @max_sm) {
    font-size: 24px;
  }
  @media (max-width: @max_xs) {
    font-size: 18px;
  }
}

.fs-38 {
  font-size: 38px;
  @media (max-width: @max_md) {
    font-size: 36px;
  }
  @media (max-width: @max_sm) {
    font-size: 34px;
  }
  @media (max-width: @max_xs) {
    font-size: 30px;
  }
}

.fs-40 {
  font-size: 40px;
  @media (max-width: @max_flg) {
    font-size: 36px;
  }
  @media (max-width: @max_xxl) {
    font-size: 34px;
  }
  @media (max-width: @max_xl) {
    font-size: 32px;
  }
  @media (max-width: @max_md) {
    font-size: 30px;
  }
  @media (max-width: @max_xs) {
    font-size: 28px;
  }
}

.fs-42 {
  font-size: 42px;
  @media (max-width: @max_md) {
    font-size: 36px;
  }
  @media (max-width: @max_sm) {
    font-size: 32px;
  }
  @media (max-width: @max_xs) {
    font-size: 26px;
  }
}

.fs-46 {
  font-size: 46px;
}

.fs-48 {
  font-size: 48px;
  @media (max-width: @max_flg) {
    font-size: 46px;
  }
  @media (max-width: @max_xxl) {
    font-size: 44px;
  }
  @media (max-width: @max_xl) {
    font-size: 42px;
  }
  @media (max-width: @max_md) {
    font-size: 40px;
  }
  @media ( max-width: @max_sm ) {
    font-size: 38px;
  }
  @media ( max-width: @max_xxl ) {
    font-size: 36px;
  }
}

.fs-50 {
  font-size: 50px;
  @media (max-width: @max_flg) {
    font-size: 44px;
  }
  @media (max-width: @max_xxl) {
    font-size: 38px;
  }
  @media (max-width: @max_xl) {
    font-size: 34px;
  }
  @media (max-width: @max_md) {
    font-size: 28px;
  }
}

.fs-80 {
  font-size: 80px;
  @media (max-width: @max_md) {
    font-size: 60px;
  }
  @media (max-width: @max_sm) {
    font-size: 45px;
  }
  @media (max-width: @max_sm) {
    font-size: 38px;
  }
}

.gilroy {
  font-family: "Gilroy";
}

/*==============================================================
*												     MIXINS
=============================================================== */
.col-space-property(@prop) {
  @{prop}: @col-p-xxl;
  @media (max-width: @max_xl) {
    @{prop}: @col-p-xl;
  }
  @media (max-width: @max_lg) {
    @{prop}: @col-p-lg;
  }
  @media (max-width: @max_md) {
    @{prop}: @col-p-md;
  }
  @media (max-width: @max_sm) {
    @{prop}: @col-p-sm;
  }
  @media (max-width: @max_xs) {
    @{prop}: @col-p-xs;
  }
}

.full-width() {
  @media (max-width: @max_xxl) {
  }
  @media (max-width: @max_xl) {
  }
  @media (max-width: @max_md) {
  }
  @media (max-width: @max_sm) {
  }
  @media (max-width: @max_xs) {
  }
}

.full-width-md() {
  @media (max-width: @max_md) {
    transform: translateX(-@col-p-md);
    width: calc(100% + @col-p-md * 2);
  }
  @media (max-width: @max_sm) {
    transform: translateX(-@col-p-md);
    width: calc(100% + @col-p-sm * 2);
  }
  @media (max-width: @max_xs) {
    transform: translateX(-@col-p-md);
    width: calc(100% + @col-p-xs * 2);
  }
}
